<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">

	<context:component-scan base-package="com.ejar">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
    <!--<cache:annotation-driven cache-manager="cacheManager" key-generator="cacheKeyGenerator"/>-->

	<bean id="processTimeAspect" class="com.ejar.common.aspect.ProcessTimeAspect" />
    <aop:aspectj-autoproxy/>
	<aop:config>
		<aop:aspect ref="processTimeAspect">
			<aop:around method="loggerProcessTime" pointcut="@annotation(com.ejar.common.annotation.LoggerProcessTime)" />
		</aop:aspect>
	</aop:config>

	<bean id="configure" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:*.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- 数据库读写分离切面配置，在需要使用读写分离的provier 配置文件中进行配置 -->
	<bean id="dataSourceAspect" class="com.ejar.persistence.aspect.DataSourceAspect">
		<!-- 没有reids 则注释下面配置-->
		<!--<property name="dataSourceSwitch">-->
			<!--<bean class="com.ejar.provider.utils.RedisTemplateDataSourceSwitchImpl"/>-->
		<!--</property>-->
	</bean>
	<aop:aspectj-autoproxy/>
	<aop:config>
		<aop:aspect ref="dataSourceAspect">
			<aop:around method="setDataSourceType" pointcut="@annotation(com.ejar.persistence.datasource.DataSource)" />
		</aop:aspect>
	</aop:config>

	<import resource="classpath*:spring-*.xml" />
</beans>
